<h2>{{task.title}}</h2>
<h3>{{task.description}}</h3>

<div id="task-edit">
<!-- link to edit this author (route and controller action not defined yet) -->
<a href="/tasks/{{task._id}}/edit">Edit</a>
<a href="/tasks">Back</a>
</div>
